<!DOCTYPE html>
<script src="https://unpkg.com/htmx.org@1.9.10"></script>

enabled: <div style="background-color: blue; font-size: 70pt;" hx-trigger="every 2s" hx-get="http://10.25.2.2:8089/get_auto_name"></div>

<a target="output" style="font-size: 48pt; background-color: red;" href="http://10.25.2.2:8089/get_auto_name">check</a><br>
<a hx-trigger="revealed" hx-get="http://10.25.2.2:8089/get_auto/1" target="output" style="font-size: 48pt;" href="http://10.25.2.2:8089/set_auto/1">loading</a><br>
<a hx-trigger="revealed" hx-get="http://10.25.2.2:8089/get_auto/2" target="output" style="font-size: 48pt;" href="http://10.25.2.2:8089/set_auto/2">loading</a><br>
<a hx-trigger="revealed" hx-get="http://10.25.2.2:8089/get_auto/3" target="output" style="font-size: 48pt;" href="http://10.25.2.2:8089/set_auto/3">loading</a><br>
<a hx-trigger="revealed" hx-get="http://10.25.2.2:8089/get_auto/4" target="output" style="font-size: 48pt;" href="http://10.25.2.2:8089/set_auto/4">loading</a><br>
<a hx-trigger="revealed" hx-get="http://10.25.2.2:8089/get_auto/5" target="output" style="font-size: 48pt;" href="http://10.25.2.2:8089/set_auto/5">loading</a><br>
<a hx-trigger="revealed" hx-get="http://10.25.2.2:8089/get_auto/6" target="output" style="font-size: 48pt;" href="http://10.25.2.2:8089/set_auto/6">loading</a><br>
<a hx-trigger="revealed" hx-get="http://10.25.2.2:8089/get_auto/7" target="output" style="font-size: 48pt;" href="http://10.25.2.2:8089/set_auto/7">loading</a><br>
<a hx-trigger="revealed" hx-get="http://10.25.2.2:8089/get_auto/8" target="output" style="font-size: 48pt;" href="http://10.25.2.2:8089/set_auto/8">loading</a><br>
<a hx-trigger="revealed" hx-get="http://10.25.2.2:8089/get_auto/9" target="output" style="font-size: 48pt;" href="http://10.25.2.2:8089/set_auto/9">loading</a><br>

<iframe name="output"></iframe>
